@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&subset=vietnamese');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    color: #282829;
}
p {
    font-size: 14px;
    margin: 0;
}
@media screen and (max-width : 767px) {
    p {
        font-size: 12px;
    }
}
ol, ul, dl {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
button:focus {
    outline-color: transparent;
}
.row {
    margin: 0;
}
figure {
    margin-bottom: 0;
}
input, select {
    height: 55px;
}
@media screen and (max-width : 767px) {
    input, select {
        height: 40px;
    }
}
input::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    color: $color-gray;
}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
        background-color: #fff !important;
        background-image: none !important;
        color: rgb(0, 0, 0) !important;
        border: 1px solid $color-gray;
    }
@media (min-width: 1200px){
    .container {
        max-width: 1080px;
    }
}