$color-primary: #CDD8A7;
$color-black: #282829;
$color-black2:#1C1C1D;
$color-sub: #F8F8F6;
$color-white: #fff;
$color-green: #CDD8A7;
$color-gray: #E5E5E5;
$color-gray2: #C4C4C4;
$color-smoke: #F6F5F5;
$color-pink: #E0B59F;
$color-blue: #39579A;
$color-orange: #DE4D3B;

/*********************
BREAKPOINTS
*********************/
$breakpoint1: 1440px;
$breakpoint2: 1060px;
$breakpoint3: 767px;
