$color-primary: #CDD8A7;
$color-black: #282829;
$color-sub: #F8F8F6;
$color-white: #fff;
$color-gray: #E5E5E5;
$color-gray2: #AFAFAF;
$color-gray3: #EFEFEF;
$color-green: #CDD8A7;
$color-red: #EA556A;

/*********************
BREAKPOINTS
*********************/
$breakpoint1: 1440px;
$breakpoint2: 1060px;
$breakpoint3: 767px;